<section id="contact-form">
    <div class="row">
        <div class="container center section-pad">

            <h2 class="content-heading dark">Contact Us</h2>
            <p>Fill out the form below or feel free to email us at info@gauntlet.network</p>
            <div class="row left">
                <form class="form-layout">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Name">                        
                      </div>
                    <div class="form-group">
                      <label>Email Address</label>
                      <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                      <label>Message</label>
                      <textarea type="textarea" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="center">
                    <button type="submit" class="submit-btn">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>