<footer id="footer">
    <div class="row">
        <div class="container center">

            <div class="row box-row">
                <img src="{{site.baseurl}}/assets/images/logo.png" alt="gauntlet-logo">
            </div>
            <div class="row box-row">
                <div class="column-xl-4 column-md-4 left">
                    <div class="footer-link">
                        <a href="">Research</a>
                    </div>
                    <div class="footer-link">
                        <a href="">Blogs</a>
                    </div>                     
                </div>
                <div class="column-xl-4 column-md-4 left">
                    <div class="footer-link">
                        <a href="">Protocol Optimizer</a>
                    </div>
                    <div class="footer-link">
                        <a href="">About</a>
                    </div>                     
                </div>
                <div class="column-xl-4 column-md-4 ">
                    <div class="footer-link">
                        <a href="">Careers</a>
                    </div>
                                        
                </div>
            </div>
            <hr>
            </div>
            
        </div>
        
    </div>
    <div class="container center">
        <div class="row">
            <div class="column-xl-6 column-md-6 left">
                <p class="copyright">Copyright © 2021 Gauntlet Networks Inc</p>
            </div>
            <div class="column-xl-6 column-md-6 right">

            </div>
        </div>
    </div>     
</footer>